{{!-- TABLE OF CONTENT --}}
{{#has tag="#toc, #toc-wide-screen"}}
  <aside class="toc-container {{#has tag="#toc-wide-screen"}}toc-wide-screen{{/has}} ">
    <h1 class="toc-ignore toc-header">Table of Content</h1>
    <div class="toc"></div>
  </aside>
{{/has}}
{{!-- POST CONTENT --}}
